body {
  background-color: rgb(190, 224, 254);
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(84, 137, 119);
  padding-top: 0, 5rem;
}

form {
  padding-top: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

label {
  padding-top: 1rem;
  text-align: center;
  font-weight: bold;
}

button {
  padding-top: 1rem;
  text-align: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

#total {
  text-align: center;
  font-weight: bold;
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: #dbbb3e;
}

.star:hover,
.star:hover ~ .star {
  color: orange;
}

#message {
  margin-top: 10px;
}

#clearButton {
  margin-top: 10px;
}
